<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.VolCurInfoMapper">
    
    <resultMap type="VolCurInfo" id="VolCurInfoResult">
        <result property="id"    column="id"    />
        <result property="volCurId"    column="vol_cur_id"    />
        <result property="electricsId"    column="electrics_id"    />
        <result property="volA"    column="volA"    />
        <result property="volB"    column="volB"    />
        <result property="volC"    column="volC"    />
        <result property="avgVol"    column="avg_vol"    />
        <result property="curA"    column="curA"    />
        <result property="curB"    column="curB"    />
        <result property="curC"    column="curC"    />
        <result property="avgCur"    column="avg_cur"    />
        <result property="volAB"    column="volAB"    />
        <result property="volBC"    column="volBC"    />
        <result property="volCA"    column="volCA"    />
        <result property="avglineVol"    column="avgline_vol"    />
        <result property="allPowerFactor"    column="all_power_factor"    />
        <result property="frequency"    column="frequency"    />
        <result property="forwardAblePower"    column="forward_able_power"    />
        <result property="ablePowera"    column="able_powerA"    />
        <result property="ablePowerb"    column="able_powerB"    />
        <result property="ablePowerc"    column="able_powerC"    />
        <result property="allAblePower"    column="all_able_power"    />
        <result property="notPowera"    column="not_powerA"    />
        <result property="notPowerb"    column="not_powerB"    />
        <result property="notPowerc"    column="not_powerC"    />
        <result property="allNotPower"    column="all_not_power"    />
    </resultMap>

    <sql id="selectVolCurInfoVo">
        select id, vol_cur_id, electrics_id, volA, volB, volC, avg_vol, curA, curB, curC, avg_cur, volAB, volBC, volCA, avgline_vol, all_power_factor, frequency, forward_able_power, able_powerA, able_powerB, able_powerC, all_able_power, not_powerA, not_powerB, not_powerC, all_not_power from vol_cur_info
    </sql>

    <select id="selectVolCurInfoList" parameterType="VolCurInfo" resultMap="VolCurInfoResult">
        <include refid="selectVolCurInfoVo"/>
        <where>  
            <if test="volCurId != null "> and vol_cur_id = #{volCurId}</if>
            <if test="electricsId != null "> and electrics_id = #{electricsId}</if>
        </where>
    </select>
    
    <select id="selectVolCurInfoById" parameterType="String" resultMap="VolCurInfoResult">
        <include refid="selectVolCurInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertVolCurInfo" parameterType="VolCurInfo" useGeneratedKeys="true" keyProperty="id">
        insert into vol_cur_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="volCurId != null">vol_cur_id,</if>
            <if test="electricsId != null">electrics_id,</if>
            <if test="volA != null">volA,</if>
            <if test="volB != null">volB,</if>
            <if test="volC != null">volC,</if>
            <if test="avgVol != null">avg_vol,</if>
            <if test="curA != null">curA,</if>
            <if test="curB != null">curB,</if>
            <if test="curC != null">curC,</if>
            <if test="avgCur != null">avg_cur,</if>
            <if test="volAB != null">volAB,</if>
            <if test="volBC != null">volBC,</if>
            <if test="volCA != null">volCA,</if>
            <if test="avglineVol != null">avgline_vol,</if>
            <if test="allPowerFactor != null">all_power_factor,</if>
            <if test="frequency != null">frequency,</if>
            <if test="forwardAblePower != null">forward_able_power,</if>
            <if test="ablePowera != null">able_powerA,</if>
            <if test="ablePowerb != null">able_powerB,</if>
            <if test="ablePowerc != null">able_powerC,</if>
            <if test="allAblePower != null">all_able_power,</if>
            <if test="notPowera != null">not_powerA,</if>
            <if test="notPowerb != null">not_powerB,</if>
            <if test="notPowerc != null">not_powerC,</if>
            <if test="allNotPower != null">all_not_power,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="volCurId != null">#{volCurId},</if>
            <if test="electricsId != null">#{electricsId},</if>
            <if test="volA != null">#{volA},</if>
            <if test="volB != null">#{volB},</if>
            <if test="volC != null">#{volC},</if>
            <if test="avgVol != null">#{avgVol},</if>
            <if test="curA != null">#{curA},</if>
            <if test="curB != null">#{curB},</if>
            <if test="curC != null">#{curC},</if>
            <if test="avgCur != null">#{avgCur},</if>
            <if test="volAB != null">#{volAB},</if>
            <if test="volBC != null">#{volBC},</if>
            <if test="volCA != null">#{volCA},</if>
            <if test="avglineVol != null">#{avglineVol},</if>
            <if test="allPowerFactor != null">#{allPowerFactor},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="forwardAblePower != null">#{forwardAblePower},</if>
            <if test="ablePowera != null">#{ablePowera},</if>
            <if test="ablePowerb != null">#{ablePowerb},</if>
            <if test="ablePowerc != null">#{ablePowerc},</if>
            <if test="allAblePower != null">#{allAblePower},</if>
            <if test="notPowera != null">#{notPowera},</if>
            <if test="notPowerb != null">#{notPowerb},</if>
            <if test="notPowerc != null">#{notPowerc},</if>
            <if test="allNotPower != null">#{allNotPower},</if>
         </trim>
    </insert>

    <update id="updateVolCurInfo" parameterType="VolCurInfo">
        update vol_cur_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="volCurId != null">vol_cur_id = #{volCurId},</if>
            <if test="electricsId != null">electrics_id = #{electricsId},</if>
            <if test="volA != null">volA = #{volA},</if>
            <if test="volB != null">volB = #{volB},</if>
            <if test="volC != null">volC = #{volC},</if>
            <if test="avgVol != null">avg_vol = #{avgVol},</if>
            <if test="curA != null">curA = #{curA},</if>
            <if test="curB != null">curB = #{curB},</if>
            <if test="curC != null">curC = #{curC},</if>
            <if test="avgCur != null">avg_cur = #{avgCur},</if>
            <if test="volAB != null">volAB = #{volAB},</if>
            <if test="volBC != null">volBC = #{volBC},</if>
            <if test="volCA != null">volCA = #{volCA},</if>
            <if test="avglineVol != null">avgline_vol = #{avglineVol},</if>
            <if test="allPowerFactor != null">all_power_factor = #{allPowerFactor},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="forwardAblePower != null">forward_able_power = #{forwardAblePower},</if>
            <if test="ablePowera != null">able_powerA = #{ablePowera},</if>
            <if test="ablePowerb != null">able_powerB = #{ablePowerb},</if>
            <if test="ablePowerc != null">able_powerC = #{ablePowerc},</if>
            <if test="allAblePower != null">all_able_power = #{allAblePower},</if>
            <if test="notPowera != null">not_powerA = #{notPowera},</if>
            <if test="notPowerb != null">not_powerB = #{notPowerb},</if>
            <if test="notPowerc != null">not_powerC = #{notPowerc},</if>
            <if test="allNotPower != null">all_not_power = #{allNotPower},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVolCurInfoById" parameterType="String">
        delete from vol_cur_info where id = #{id}
    </delete>

    <delete id="deleteVolCurInfoByIds" parameterType="String">
        delete from vol_cur_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>